	.titulo{
		color: #581845;
	}
	.button1{
		font-size: 22px;
		border-radius: 8px;
		transition-duration: 0.4s;
		border: 2px solid #0C6C22; /*#4CAF50*/
		background-color: white;
		height: 120px;
		width: 210px;
		margin-bottom: 8px;
		box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
	}
	.button1:hover{
	   background-color: #0C6C22;
       color: white;
       box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
	}
	.button2{
		font-size: 22px;
		border-radius: 8px;
		transition-duration: 0.4s;
		border: 2px solid #008CBA;
		background-color: white;
		height: 120px;
		width: 210px;
		margin-bottom: 8px;
		box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);

	}
	.button2:hover{
	   background-color: #008CBA;
       color: white;
       box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
	}
	.button3{
		font-size: 22px;
		border-radius: 8px;
		transition-duration: 0.4s;
		border: 2px solid #FFC300;
		background-color: white;
		height: 120px;
		width: 210px;
		margin-bottom: 8px;
		box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
	}
	.button3:hover{
	   background-color: #FFC300;
       color: white;
       box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
	}
	.button4{
		font-size: 22px;
		border-radius: 8px;
		transition-duration: 0.4s;
		border: 2px solid #6C0C2E;
		background-color: white;
		height: 120px;
		width: 210px;
		margin-bottom: 8px;
		box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
	}
	.button4:hover{
	   background-color: #6C0C2E;
       color: white;
       box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
	}/*
	.espacio{
		margin-bottom: 20px;
	}
	div{
		display: grid;
		min-height: 100dvh;
		grid-auto-rows: auto 1fr auto;
	}*/